@{
    ViewData["Title"] = "About";
}

<html>
<head>
</head>
<body>
    <h1>Bem vindx ao cadastrador de produtos!</h1>
    <h2>
    Esta webapp permite que você crie, edite e remova itens em um banco de dados.
    </h2>
    <p>Criada por Vinicius Bassi com a colaboração de Giovanni Bassi</p>
</body>
</html>