@{
    ViewData["Title"] = "About";
}

<html>
<head>
</head>
<body>
    <h1>Bem vindx ao cadastrador de produtos!</h1>
    <h2>
    Esta webapp permite que você cadastre novos 
    produtos e altere ou delete produtos que 
    já existem no banco de dados.
    </h2>
    <p>Criada por Vinicius Bassi</p>
</body>
</html>